<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
  </head>
  <body>
    <%- include('includes/header')%>
    <%- include('includes/aside-drawer')%>
    <main>
      <h1> 404 Error, Page not found!</h1>
      <p>
        We were not able to find this page.
      </p>
    </main>
  </body>
</html>